<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CAConnCrystalRpts" connectionString="Database=Cyberscope123;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;password=P@ssword1;Max Pool Size=200" />
    <add name="CAClientConnectionString" connectionString=";Initial Catalog=Cyberscope123;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;Password=P@ssword1;Max Pool Size=200" providerName="System.Data.SqlClient" />
    <add name="CAConnSqlAuth" connectionString=";Initial Catalog=Cyberscope123;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;Password=P@ssword1;Max Pool Size=200" providerName="System.Data.SqlClient" />

    <add name="CAConnMode" connectionString="P@ssword1" providerName="DCMAPORTAL" />
  </connectionStrings>
</configuration>